body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.footer-bar{
  border-top: solid 1px #F4F4F4;
    height: 30px;    
    background-size: 12%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0069AA;
    color: white;
    text-align: center;
}